{% set content_url = content_url|default('') %}
{% set hero_attributes = hero_attributes|default(create_attribute()).addClass([
  'hero-container',
  'breakout',
  content_url ? 'hero-clickable'
]) %}
{% if content_url %}
  {% set url_prefix %}
    <a href="{{ content_url }}">
  {% endset %}
  {% set url_suffix %}</a>{% endset %}
{% endif %}
<div{{ hero_attributes }}>
  {{ url_prefix }}
  <div class="hero-image" style="background-image: url({{ image_url }})"></div>
  {% if pretext or title or subtext or labels %}
    <div class="hero-image-text container">
      <div class="hero-image-content u-o-2">
        {% if pretext %}
          <div class="hero-pretext">
            {{ pretext }}
          </div>
        {% endif %}
        {% if title %}
          <div class="hero-title">
            {% include "@components/_heading.twig" with {
              heading_level: heading_level,
              heading_text: title
            } %}
          </div>
        {% endif %}
        {% if subtext %}
          <div class="hero-subtext">
            By {{ subtext }}
          </div>
        {% endif %}
        {% if labels %}
          <div class="hero-labels">
            {% for item in labels %}
              {% include "@components/_field-label.twig" with {
                label: item.label,
                value: item.value
              } %}
            {% endfor %}
          </div>
        {% endif %}
      </div> <!-- End of hero-image-content -->
    </div> <!-- End of hero-image-text-container -->
  {% endif %}
 {{ url_suffix }}
</div> <!-- End of hero-container -->
